<footer class="footer mt-auto" style="background-color: #fff9f2">
  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4">
        <div>
          <strong
            ><a
              style="text-decoration: none; color: black"
              href="https://collinmathis.com"
              >Collin Mathis</a
            ></strong
          >
        </div>
        <div>
          The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </div>
      </div>
      <div class="col-lg-2 text-center mt-3">
        <a
          href="https://github.com/cmathis94"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          role="button"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/collin-mathis-337996162/"
          class="btn btn-link btn-floating btn-lg text-dark m1"
          role="button"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
