#resumeLink a {
    background-color: black;
}

/* body {
    background-color: gray;
} */

hr {
    height: 1px;
    border: none;
    margin: none;
    background-color: rgb(204, 204, 204);
}

#text {
    display: inline-block;
    /* vertical-align: middle; */
}

#cursor {
    display: inline-block;
    /* vertical-align: middle; */
    width: .5em;
    height: .83em;
    background-color: #363636;
    animation: blink .75s step-end infinite;
}

nav {
    padding-left: 1em;
    padding-right: 1em;
}

section.bg {
    background-image: url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-color: #999;
    max-height: 900px;
}

footer.footer {
    padding-bottom: 3em;
}

/* .navbar.is-transparent {
    background-color: transparent;
    background-image: none;
} */