<% layout('layouts/boilerplate') %>
<div class="container h-100">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-10 h-50">
      <div class="card h-100">
        <div class="card-body text-center">
          <div class="row align-items-center h-100">
            <div class="col">
              <h1>Coming Soon...</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
