hr {
  height: 1px;
  border: none;
  margin: none;
  background-color: rgb(204, 204, 204);
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 50px;
}

.cursor {
  width: 2px;
  height: 35px;
  background-color: #212529;
  margin-left: 0.1rem;
  margin-bottom: 0.3rem;
  animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

nav {
  padding-left: 1em;
  padding-right: 1em;
}

.card-img-top {
  max-height: 250px;
}

body {
  background-color: #fff9f2 !important;
}

div.col-2 img {
  max-width: 196px;
  max-height: 196px;
}

.bg-image {
  background-image: url(https://images.unsplash.com/photo-1604737771065-7ce2dc4ba3e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1954&q=80);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 837px;
}

.max-height {
  max-height: 100%;
}
